.education {
    background-color: #5BC0EB;
}

.music {
    background-color: #FDE12D;
}

.coding {
    background-color: #9046cf;
}

.banner {
    width: auto;
    margin-right: 1vw;
    margin-left: 20vh;
    writing-mode: vertical-lr;
    font-size: 6vh;
    text-align: center;
    line-height: 8vh;
    font-weight: 400;
    box-shadow: 5px 5px 2px 1px rgb(50, 50, 50);
  }

.shadow {
    box-shadow: 5px 5px 2px 1px rgb(50, 50, 50);
}

.nav {
    padding: 1vh 0;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh;
    font-family: "Open Sans";
}

.nav-button {
    text-decoration: none;
}