html,
body {
  margin: 0px;
  height: 100%;
}

#container {
  width: inherit;
  overflow-x: scroll;
  height: 100vh;
  width: 100vw;
  background-color: white;
  outline: solid black 1px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#container::-webkit-scrollbar {
  opacity: 0%;
}

#container::-webkit-scrollbar-thumb {
  background-color: #ed254e;
}

#container::-webkit-scrollbar-button {
  background-color: #5bc0eb;
}

#name {
  text-align: center;
  width: max-content;
  background-color: #ed254e;
  padding: 5px 10px;
  box-shadow: 5px 5px 2px 1px rgb(50, 50, 50);
}

#title {
  margin-left: 15px;
  
}
#titlebox {
  font-size: 8vh;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#attributes {
  font-size: 4vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#attributes > h2{
  padding: 5px 10px;
  box-shadow: 5px 5px 2px 1px rgb(50, 50, 50);
}

.content-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 15vw);
  grid-auto-columns: min-content;
  gap: 1vw;
}

#extension {
  padding-left: 10px;
  padding-right: 10px;
  outline: solid greenyellow 2px;
}

.box {
  width: 15vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  z-index: 3;
  box-shadow: 5px 5px 2px 1px rgb(50, 50, 50);
}

.box:hover {
  animation: hovertest;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes hovertest {
  0% {
  }

  100% {
    background: #5bc0eb;
  }
}

.videocont {
  opacity: 0;
  width: auto;
  height: 100%;
}

.videobox {
  outline: solid black 1px;
  height: 100%;
  aspect-ratio: 16/9;
  box-shadow: 5px 5px 2px 1px rgb(50, 50, 50);
}

.videobox:hover {
  animation: hide 500ms 1s forwards;
}

@keyframes reveal {
  100% {
    opacity: 100%;
  }
}

@keyframes hide {
  100% {
    opacity: 0%;
  }
}
#content {
  display: flex;
  margin-right: 10vh;
}
