html,
body {
  margin: 0px;
  height: 100%;
}

#container {
  width: inherit;
  overflow-x: scroll;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.half {
}

#left {
  outline: 1px solid red;
  padding-left: 15px;
  width: 50%;
}
#titlebox {
  font-size: 8vh;
  color: black;
  width: fit-content;
}

#attributes {
  font-size: 4vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#right {
  width: 50%;
  outline: 1px solid red;
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(8, 200px);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ed254e;
  font-size: 3rem;
}
