html,
body {
  margin: 0px;
  height: 100%;
}

#container {
  width: inherit;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: white;
  outline: solid black 1px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.half {
}

#left {
  padding-left: 15px;
  min-width: 50vw;
}
#titlebox {
  font-size: 8vh;
  color: black;
  width: fit-content;
}

#attributes {
  font-size: 4vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#right {
  min-width: 80vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 15vw);
  grid-auto-columns: 15vw;
  gap: 1vw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ed254e;
  font-size: 3rem;
}

.box:hover {
  animation: hovertest;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes hovertest {
  0% {
  }

  100% {
    background: linear-gradient(rgb(220, 220, 220), rgb(40, 40, 40));
  }
}
